body {
    background-image: url(../media/webpattern.jpg)
}
.wrapper {
    width: 900px;
    margin: auto;
}
h1 span {
    color: darkorange;
}
h1 {
    color: white;
    font-style: italic;
}
nav {
    height: auto;
    width: 100%
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    border-top: 5px solid darkorange;
    border-bottom: 5px solid darkorange;
    float: left;
}
nav ul li a {
    text-decoration: none;
    display: block;
    float: left;
    width: 160px;
    padding: 10px;
    height: auto;
    text-align: center;
    margin: 0;
    background-color: rgb(26, 26, 26);
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: bold;
}
.slider {
    width: 100%;
    height: auto;
    clear: both;
    overflow: hidden;
}
.slide {
    width: 500%;
    height: auto;
    animation: slideshow 30s ease-in-out infinite;
    position: relative;
    left: 0;
}
.slide img {
    width: 20%;
    height: auto;
    float: left;
}
@keyframes slideshow {
    0% {left: 0}
    20% {left: 0}
    25% {left: -100%}
    45% {left: -100%}
    50% {left: -200%}
    70% {left: -200%}
    75% {left: -300%}
    95% {left: -300%}
    100% {left: -400%}
}
section {
    clear: both;
}
section h2 {
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
    clear: both;
}
section.boxes div {
    background-color: white;
    width: 260px;
    height: 280px;
    float: left;
    padding: 10px;
    margin-left: 14px;
    border-radius: 5px;
    border: 1px dotted darkorange;
}
section.boxes div h3 {
    text-align: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkorange;
}
section.boxes div p {
    text-align: justify;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content {
    clear: both;
    width: 640px
}
.content h2 {
    padding-top: 30px
}
article {
    width: 600px;
    height: auto;
    background-color: white;
    border: 1px dotted darkorange;
    padding: 20px;
}
article h3 {
    color: darkorange;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
article p {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.fade {
    width: 400px;
    height: 250px;
    position: relative;
    margin: 0 auto;
    border: 15px solid rgb(255, 255, 255);
    box-shadow: 0 0 5px grey;
    border-radius: 10px;
}
.fade img {
    position: absolute;
    left: 0;
    animation: fadein 12s alternate infinite ease-in-out;
    border-radius: 6px;
}
@keyframes fadein {
    0% {opacity: 1;}
    15% {opacity: 1;}
    20% {opacity: 0;}
    80% {opacity: 0;}
    85% {opacity: 1;}
    100% {opacity: 1;}
}
.fade img:nth-of-type(1) {
    animation-delay: 9s
}
.fade img:nth-of-type(2) {
    animation-delay: 6s
}
.fade img:nth-of-type(3) {
    animation-delay: 3s
}
.fade img:nth-of-type(4) {
    animation-delay: 0s;
}