body {
    background-color: rgb(255,255,204);
}
#main_container {
    width: 900px;
    height: auto;
    margin: 0 auto 0 auto;
}
.banner {
    width: 880px;
    padding: 10px;
    height: 80px;
    background-color: rgb(0,0,0);
    border-bottom: solid 5px rgb(255,153,0);
    text-align: center;
    text-transform: uppercase;
}
.banner h2 {
    color: rgb(255,255,255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#menu {
    width: 200px;
    height: auto;
    background-color: rgb(116, 116, 116);
    float: left;
}
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu ul li a {
    display: block;
    float: left;
    padding: 10px;
    width: 180px;
    height: 20px;
    border-bottom: dotted 1px rgb(0, 0, 0);
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    /* browser compatibility code for transition */
    -moz-transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
#menu ul li a:hover {
    background-color: #000;
    border-left: solid 50px rgb(51,51,51);
    widows: 130px;
}
.media{
    width: 700px;
    height: 205px;
    background-color: black;
    text-align: center;
    float: right;
}
video {
    width: auto;
    height: 100%;
}
.textarea {
    position: relative;
    overflow: hidden;
    width: 900px;
    height: 400px;
    clear:both;
    float:left;
}
.textarea::before {
    position: absolute;
    z-index: -1;
    width: 200%;
    height: 200%;
    top: -20%;
    left: -20%;
    content: "";
    background-image: url(../media/back.JPG);
    background-size: 100%;
    background-position: center;
    transition: all 750ms;
}
.textarea:hover::before{
    background-size: 150%;
    background-position: 60% 40%;
    filter: blur(2px);
    transform: rotate(5deg);
}
.box1,.box2,.box3 {
    padding: 10px;
    margin: 10px;
    width: 260px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    float: left;
    border-radius: 10px;
    text-align: center;
}
.textarea img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.textarea h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0,51,102);
}
.textarea p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    color: rgb(0,51,51);
}
.textarea2 {
    width: 560px;
    height: 300px;
    padding: 10px;
    background-color: rgb(255,255,255);
    float: left;
}
.textarea2 img {
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;
}
.textarea2 p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    color: rgb(51,51,51);
    text-align: justify
}
.textarea2 h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0,51,0);
}
.contact {
    width: 300px;
    height: 300px;
    padding: 10px;
    float: left;
    background-color: rgb(206, 206, 206);
}.contact ul {
    list-style-type: none;
}
strong {
    display: block;
    float: left;
    width: 60px;
}
.footer {
    width: 880px;
    height:auto;
    padding: 10px;
    background-color: #000;
    clear: both;
}
.footer p {
    color: #fff;
    text-align: center
}
